*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}

body{
	font-family: sans-serif;
}

h1 {
	text-align: center;
	background: #456fa0;
	padding: 20px 10px;
	color:white;
	text-transform: uppercase;
}

.boxes{
	width: 100%;
	text-align: center;
	background: #d3e0e3;
	padding:20px;
}

.box{
	font-weight: bold;
	width: 60%;
	margin: 0px auto;
	padding:40px;
	font-size:2.4em;
}

.box1 {
	background:#ffbd00;
}

.box2 {
	background:lightgreen;
	/*Difference Between Relative and Absolute is in their
	starting point. When Absolute, the starting point is either
	top of the browswer, or nearest parent that is not statically
	positioned. Relative starting point is where it would have Been
	to begin with.
	-> notice that the box3,and box4 doesn't take up box2's space
	   */
	position:relative;
	top:100px;
	left:0;
}

.box3 {
	background:#dba36a;
}

.box4{
	background:#65afff;
}

.dummyBox{
	width: 100%;
	display:flex;
	flex-direction:column;
	justify-content: center;
	background: gray;
	height: 1000px;
	text-align: center;
	font-size:2.5em;
	font-weight:bold;
}
