body{
	text-align:center;
	margin-top:100px;
}

.box {
	background: aquamarine;
	padding: 2em;
	width: 50%;
	margin: 0em auto 10em;
	color:white;

	outline: 5px solid aquamarine;

	outline-offset:5px;
}

.button{
	text-decoration:none;
	display:inline-block;
	background:steelblue;
	padding:1em 3em;
	color:white;

	outline:3px solid steelblue;

	transition:all ease-in-out 300ms;
}

/* A lot of times used for buttons*/
.button:hover{
	outline-offset: 5px;
}

.box2{
	background: aquamarine;
	padding: 2em;
	width: 50%;
	margin:50px 0;
	display:inline-block;
	
}