body{
	font: 15px/1.5 Arial, Helvetica, sans-serif;
	padding:0;
	margin:0 auto;
	background-color:#ffffff;
	width:100%;
	height:100%;
	text-align:center;
	white-space:nowrap;
	display:table;

}

/* Global */
.alignment-wrapper{
	width:100%;
	height:100%;
}

.container{
	overflow:hidden;
	padding:160px 50px 50px;
	margin: 1.5em 1em;
	width:728px;
	height:607px;
	display: inline-block;
}

.lang-tunnel_region{
	margin:0;
	padding:0;
	display:block;
}

.lang-tunnel_header-container{
	margin: 0 0 54px;
	padding-top:17px;

}

#logo img{
	font-size: 60px;
	height: 26px;
	margin: 0 auto -0.15em;
	position: relative;
	display: inline-block;
	overflow:hidden;
	text-align:left;
	text-indent:100%;
	white-space:nowrap;
	vertical-align:middle;
}

.lang-tunnel_header-container h1{
	font-size:40px
	line-height:0.75em;
	text-transform:uppercase;
	margin:20px 0 0;
}

header a{
	text-decoration:none;
	text-transform:uppercase;
}

header li{
	padding-left:4px;
	padding-right:0;
	border:none;
	background:transparent;
}
	
