.container1{
	padding:0;
	margin:0;
}
.square1{
	position:relative;
	top:500px;
	width:100px;
	height:100px;
	background:#034b7a;
	animation: myframes 2s ease-in-out 0s infinite;
}

@keyframes myframes{
0%{
	height: 200px
}
100%{
	height:600px
	background:orange;}
} 

.square2{
	position:absolute;
	top:508px;
	left:108px;
	width:100px;
	height:100px;
	background:#000103;
	animation: myframes2 2s ease-in-out 0s infinite;	
}

@keyframes myframes2{
0%{
	width: 100px
}
100%{
	width:300px}
} 


.square3{
	position:absolute;
	width:100px;
	height:100px;
	background:#787377;
	top:640px;
	left:358px;
	animation: myframes3 2s ease-in-out 0s infinite;	
}

@keyframes myframes3{
0%{
	width: 100px
}
100%{
	width:500px}
} 

.square4{
	position:absolute;
	width:100px;
	height:100px;
	background:#af1e2e;
	left:358px;
	top:508px;
	animation: myframes4 2s ease-in-out 0s infinite;
}

@keyframes myframes4{
0%{
	height: : 100px
}
100%{
	height:133px}
} 

.square5{
	position:absolute;
	width:100px;
	height:100px;
	background:#000103;
	left:548px;
	top:508px;
	animation: myframes5 2s ease-in-out 0s infinite;
}

@keyframes myframes5{
0%{
	height: : 100px
}
100%{
	height:133px}
} 

.square6{
	position:absolute;
	width:100px;
	height:100px;
	background:#cbaa3b;
	left:758px;
	top:500px;
	animation: myframes6 2s ease-in-out 0s infinite;
}

@keyframes myframes6{
0%{
	height:  100px
}
100%{
	height:140px;
	background:blue;}
} 


.square7{
	position:absolute;
	width:100px;
	height:100px;
	background:#787377;
	top:150px;
	left:358px;
	animation: myframes7 2s ease-in-out 0s infinite;
}

@keyframes myframes7{
0%{
	height: : 100px
}
100%{
	height:360px}
} 


