.media{
	display:flex;
	max-width: 600px
	/*Setting the max-width will set the text to
	wrapping down*/
}

img{
	margin-right: 10px;
}

.content{
	/*If the image is squished,and want to grow to its'
	available space, but we also want it to shrink-up if there
	is no avaialbe space to it.*/
	/*shortcut for flexgrow and flex-shrink ->  */
	flex:1;
}

.search-group{
	display: flex;
	/* max-width:300px; */
}

input{
	padding:10px;
}

/*the textbox will stretch out, it will flex-grow to
wherever the text intended for, and if there is less
space, it will shrink it.*/
input[type="text"]{
	flex:1;
}
