<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Introduction</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"/>
  <link rel="stylesheet" href="style.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

    <header>
          <!-- <div class="container">
            <a href="#" id="logo"></a> -->

        <div class="toggle">
            <i class="fa fa-bars" aria-hidden="true"></i>
          </div>

          <!-- <nav>

            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Pricing</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
        </div> -->
      </header>


    <div class="walk-box"></div>
    <div class="back-foot"></div>
    <div class="logo"></div>
    <div class="foward"></div>


  </header>
<div class="transferall">
  <section class="content">
      <article>
        <h1>Clothing Store</h1>
        <hr>
            <p>THE HIGH LINE is one of the world's mst tansformative urban parks.
            Founded by Friends of the High Line, the park embodies the spirit of
            New York City with its extraordinary history of innovation, rebirth,
            and redevelopment. The perspectives of the activists, philanthropists
            and politicians are well documented, but few know the story of New
            York's park in the sky as experienced by those who designed it.
            This blog will explore the inspiration, design, development, and
            construction of this ground breaking project.THE HIGH LINE has
            globally redefined public spaces and transformed the way we think
            about parks and their place in urban life.</p>
        <hr>

  


        <div class="clothes-pics">
            <div class="row img-row">
              <figure class="columns four">
                  <img src="img/model1.jpg">
                    <figcaption>BlackBird Jacket - <<strong>$135</strong></figcaption>
              </figure>

              <figure class="columns four">
                  <img src="img/model2.jpg">
                  <figcaption>BlackBird Jacket - <<strong>$135</strong></figcaption>
              </figure>

              <figure class="columns four">
                  <img src="img/model3.jpg">
                  <figcaption>BlackBird Jacket - <<strong>$135</strong></figcaption>
              </figure>

              <div class="row img-row">
                <figure class="columns four">
                    <img src="img/model1.jpg">
                    <figcaption>BlackBird Jacket - <<strong>$135</strong></figcaption>
                </figure>

                <figure class="columns four">
                    <img src="img/model2.jpg">
                    <figcaption>BlackBird Jacket - <<strong>$135</strong></figcaption>
                </figure>

                <figure class="columns four">
                    <img src="img/model3.jpg">
                    <figcaption>BlackBird Jacket - <<strong>$135</strong></figcaption>
                </figure>

                <div class="row img-row">
                  <figure class="columns four">
                      <img src="img/model1.jpg">
                      <figcaption>BlackBird Jacket - <<strong>$135</strong></figcaption>
                  </figure>

                  <figure class="columns four">
                      <img src="img/model2.jpg">
                      <figcaption>BlackBird Jacket - <<strong>$135</strong></figcaption>
                  </figure>

                  <figure class="columns four">
                      <img src="img/model3.jpg">
                      <figcaption> BlackBird Jacket - <strong>$135</strong></figcaption>
                  </figure>
            </div>
        </div>
        <hr>
        <h1>Clothing Store</h1>
        <hr>
            <p>THE HIGH LINE is one of the world's mst tansformative urban parks.
            Founded by Friends of the High Line, the park embodies the spirit of
            New York City with its extraordinary history of innovation, rebirth,
            and redevelopment. The perspectives of the activists, philanthropists
            and politicians are well documented, but few know the story of New
            York's park in the sky as experienced by those who designed it.
            This blog will explore the inspiration, design, development, and
            construction of this ground breaking project.THE HIGH LINE has
            globally redefined public spaces and transformed the way we think
            about parks and their place in urban life.</p>
        <hr>

        <div class="large-window">
          <div class="window-tint">
            <div class="promo-text">Fall Suits<strong><span>from</span> $99</strong><a href="" class="window-cta">Shop Now</a></div>
          </div>
        </div>

      </article>
  </section>

  <div class="dummyspace"></div>

</div>


  <footer>
    <div class="row footer-stuff">
      <div class="columns three"><strong>FIND US ON</strong>
        <ul>
          <li><a href="">Twitter</a></li>
          <li><a href="">Facebook</a></li>
          <li><a href="">Pinterest</a></li>
          <li><a href="">Instagram</a></li>
        </ul>
      </div>
      <div class="columns three"><strong>OTHER SHOPS</strong>
        <ul>
          <li><a href="">DONATE</a></li>
          <li><a href="">ADOPT A PLANT</a></li>
          <li><a href=""> SUMMER PARTY</a></li>
          <li><a href="">MORE WAYS TO GIVE</a></li>

        </ul>
      </div>
      <div class="columns six">
        <p><strong>Sign Up for the newsletter</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <form class="row">
          <div class="columns eight">
            <input type="email" placeholder="Your Email" class="u-full-width">
          </div>
          <div class="columns four">
            <input type="submit" class="button-primary">
          </div>
        </form>
      </div>
    </div>
  </footer>


  <script
  src="http://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<script src="app.js"></script>
</body>
</html>
